<a href="https://colab.research.google.com/github/lauroPereira/data-wrangling-lessons/blob/master/data_wrangling_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#imports

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = sns.load_dataset('tips')

#Filtering

##Filter convencional

In [20]:
df[df.tip > 8].head()

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3
212       48.33   9.0  Male     No  Sat  Dinner     4

##Filter com query

In [12]:
#A vantagem é o uso de variáveis
min_aceitavel = 8
df.query('tip > @min_aceitavel').head()

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3
212       48.33   9.0  Male     No  Sat  Dinner     4

## Filtro convencional com multiplos filtros

In [15]:
df[(df['tip'] > 8) & (df['smoker'] == 'Yes')].head()

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

##Filtro com query e multiplos filtros

In [19]:
min_aceitavel = 8
is_smoker = 'Yes'

df.query('tip > @min_aceitavel & smoker == @is_smoker').head()

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

## Filtro pelo índice

In [21]:
df_index = df.set_index('sex')
df_index

        total_bill   tip smoker   day    time  size
sex
Female       16.99  1.01     No   Sun  Dinner     2
Male         10.34  1.66     No   Sun  Dinner     3
Male         21.01  3.50     No   Sun  Dinner     3
Male         23.68  3.31     No   Sun  Dinner     2
Female       24.59  3.61     No   Sun  Dinner     4
...            ...   ...    ...   ...     ...   ...
Male         29.03  5.92     No   Sat  Dinner     3
Female       27.18  2.00    Yes   Sat  Dinner     2
Male         22.67  2.00    Yes   Sat  Dinner     2
Male         17.82  1.75     No   Sat  Dinner     2
Female       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [27]:
df_index.iloc[0:5, 0:1]

        total_bill
sex
Female       16.99
Male         10.34
Male         21.01
Male         23.68
Female       24.59

In [30]:
df_index.loc['Female']

        total_bill   tip smoker   day    time  size
sex
Female       16.99  1.01     No   Sun  Dinner     2
Female       24.59  3.61     No   Sun  Dinner     4
Female       35.26  5.00     No   Sun  Dinner     4
Female       14.83  3.02     No   Sun  Dinner     2
Female       10.33  1.67     No   Sun  Dinner     3
...            ...   ...    ...   ...     ...   ...
Female       10.09  2.00    Yes   Fri   Lunch     2
Female       22.12  2.88    Yes   Sat  Dinner     2
Female       35.83  4.67     No   Sat  Dinner     3
Female       27.18  2.00    Yes   Sat  Dinner     2
Female       18.78  3.00     No  Thur  Dinner     2

[87 rows x 6 columns]

## Filtro por datas (formato category)

In [31]:
df.day.unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [35]:
df[df.day.isin(['Sat', 'Sun'])].day.unique()

['Sun', 'Sat']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

## Filtrando datas (formato date) usando index

In [66]:
df_dates_idx = pd.read_csv(
    '/content/sampleSubmission.csv', 
    usecols=['datetime', 'count'], 
    parse_dates=['datetime'], 
    index_col='datetime'
).sort_index()

df_dates_idx.head()

                     count
datetime
2011-01-20 00:00:00      0
2011-01-20 01:00:00      0
2011-01-20 02:00:00      0
2011-01-20 03:00:00      0
2011-01-20 04:00:00      0

In [74]:
#filtrando com iloc
df_dates_idx.loc['2011-01-20':'2011-01-21'].head()

                     count
datetime
2011-01-20 00:00:00      0
2011-01-20 01:00:00      0
2011-01-20 02:00:00      0
2011-01-20 03:00:00      0
2011-01-20 04:00:00      0

## Filtrando datas (formato date) usando coluna

In [68]:
df_dates = pd.read_csv(
    '/content/sampleSubmission.csv', 
    usecols=['datetime', 'count'], 
    parse_dates=['datetime'], 
    # index_col='datetime'
).sort_index()

df_dates.head()

             datetime  count
0 2011-01-20 00:00:00      0
1 2011-01-20 01:00:00      0
2 2011-01-20 02:00:00      0
3 2011-01-20 03:00:00      0
4 2011-01-20 04:00:00      0

In [73]:
#filtro tradicional usando gt/lt
df_dates[(df_dates.datetime>='2011-01-20') & (df_dates.datetime<='2011-01-21')].head()

             datetime  count
0 2011-01-20 00:00:00      0
1 2011-01-20 01:00:00      0
2 2011-01-20 02:00:00      0
3 2011-01-20 03:00:00      0
4 2011-01-20 04:00:00      0